# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
._.DS_Store

# Spotlight files
.Spotlight-V100

# Trash files
.Trashes

# macOS system folders
ehthumbs.db
Desktop.ini

# macOS specific metadata
*.AppleDouble